* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    height: auto;
    overflow-y: auto;
}

body i{
    cursor: pointer;
}

.outer-container {
    display: flex;
    height: auto;
}

/* SIDEBAR STYLING */
.sidebar {
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient( 111.4deg,  rgb(249, 96, 96) 1%, rgb(244, 202, 111) 58% );
    position: fixed;
    width: 220px;
    color: whitesmoke;
    padding: 10px;
    bottom: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.sidebar-content{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}

.logo {
    height: 50px;
}

.logo-div {
    display: flex; 
    align-items: center; 
    width: 80%; 
    justify-content: center;
}

.new-project {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: gray;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    opacity: 0.5;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.new-project:hover{
    background-color: rgb(196, 195, 194);
    opacity: 0.6;
}

.create-project{
    text-align: center;
}

.sidebar-heading {
    margin-bottom: 20px;
}

.project-list, .configuration-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -5px;
}

.menuItem, .configItem {
    display: flex;
    align-items: center;
    gap: 10px; 
    height: 40px;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 10px;
}

.side-text {
    color: lightgray;
}

/* NAVBAR STYLING */

.navbar{
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    right: 0;
    left: 220px;
    height: 60px;
    z-index: 2;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: auto;

}

.nav img{
    height: 22px;
}


#search {
    border: none;
    border-radius: 20px;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px;
    margin-left: 10px;
    width: 30%;
}

.nav-items {
    display: flex;
    align-items: center;
}

#search input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
}

#search input::placeholder {
    color: rgba(158, 152, 152, 0.925);
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items i{
    color: rgba(158, 152, 152, 0.925);
    font-size: 14px;
}

.nav-items i:hover{
    color: #000000;
}

input{
    border: none;
    background-color: transparent;
}

.search-icon{
    margin-right: 6px;
    cursor: pointer;
}

#top-second-icons, #top-third-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border-right: 2px solid lightgray;
    padding: 4px 40px 4px 4px;
    gap: 40px;
    margin-right: 40px;
}

#top-second-icons{
    padding-right: 42px;
}

.nav-items:last-child{
    margin-right: 20px;
}

.notifications-icon{
    position: relative;
}

.notifications-icon:last-child{
    margin-right: 5px;
}

.notifications-count{
    position: absolute;
    background-color: rgb(255, 48, 48);
    color: white;
    border: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-size: 10px;
    text-align: center;
    top: -3px;
    right: -5px;
    border: 1px solid white;
    padding-top: 2px;
}

.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0px;
    border: 1px solid gray;
    background-color: rgb(52, 52, 52);
    text-align: left;
    cursor: pointer;
}

.profile-pic{
    height: 25px;
    padding-right: 2px 2px 0px 0px;
}

.nav-right-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* RIGHT-SIDEBAR STYLING */

.right-sidebar {
    position: absolute;
    height: 100vh; /* Set full viewport height */
    right: 0;
    top: 65px;
    bottom: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 10px;
}

.right-sidebar-items {
    width: 100%;
    flex-grow: 1; /* Ensures items take the available height */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px #0000004d;
    gap: 12px;
    margin-top: 12px;
}

.right-sidebar-items:last-child {
    flex: 1;
}

.right-sidebar-items:hover {
    transform: scale(1.02); 
}

.star-icon {
    background-color: rgb(239, 142, 77); 
    border-radius: 2px; 
    text-align: center; 
    color: white;
    padding: 6px 10px;
}

.prod-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    font-size: 1.1em;
}

.prod-name div {
    display: flex;
    align-items: center;
}

.p-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-weight: 500;
}

.prod-btn {
    color: rgb(56, 56, 255); 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 12px; /* Adjusted button padding */
    font-size: 0.8em; /* Increased font size */
}

.prod-img {
    width: 100%;
    height: 140px; /* Increased height */
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.prod-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    padding: 0px;
}

.iphone {
    width: 100%;
    margin: 10px;
    cursor: zoom-out;
}

.prod-desc {
    display: flex; 
    width: 100%;
    height: 50px; /* Increased height */
    align-items: start; 
    margin: 0px 0px 25.5px 0px;
    font-size: 1em;
}

.circle {
    height: 40px; 
    width: 60px; 
    background-color: lightyellow; 
    border: 2px solid rgb(252, 226, 180); 
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.circle h4 {
    line-height: 40px;
    font-size: 1.2em; /* Increased font size */
    margin: 0;
}

.random-text {
    display: flex;
    flex-direction: column;
    line-height: 18px;
}

.prod-desc h6 {
    margin: 0; 
    font-weight: 500; 
    font-size: 1.1em; /* Increased font size */
    color: #2e2e2e;
    padding-bottom: 10px;
}

.prod-desc p {
    margin: 0;
    font-size: 0.9em; /* Increased font size */
    color: #9d9d9d;
}


/* MIDDLEBAR STYLING */

.middlebar {
    position: absolute;
    top: 60px;
    right: 300px;
    left: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 12px;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    padding-right: 22px;
    margin: 0px 5px;
}

.middlebar-items {
    display: flex;
    width: 100%;
    gap: 12px;

}

.middlebar-items:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middlebar-items:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.product-card,
.table-container {
    margin: 0; 
    padding: 10px;
}

.middlebar-items:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-card{
    height: auto;
    /* width: 250px;  */
    width: auto;
    aspect-ratio: 4 / 3; 
    flex: 1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    padding: 15px;
    margin: 5px 5px 5px 0px;
}

.stats-card:last-child{
    margin-right: 0px;
}

.product-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.product-card:first-child, .prod-table:first-child{
    flex: 1;
}

.product-card:last-child, .prod-table:last-child{
    flex: 5;
}

.prod-details{
    flex: 1;
    text-align: center;
    border: 1px solid gray;
    height: 100%;
}

.graph:first-child{
    height: 30px;
    width: 26px;
    border: 2px solid white;
    background-color: rgb(20, 195, 20);
    padding:2px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 6px;
    float: left;
    
}

.graph :first-child i{ 
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

.graph{
    display: flex;
    gap: 10px;
    align-items: center;
    color: green;
    font-size: x-large;
}

.graph:nth-child(2){
    color: red;
}

.sales{
    margin-top: 20px;
    color: gray;
    font-size: 16px;
}

.revenue {
    color: gray;
    font-size: 14px;
}

.stats h2{
    margin: 6px 5px 6px 0px;
    font-weight: 400;
    font-size: 24px;
}

.stats{
    margin: 5px;
}

.down{
    color: red;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(218, 218, 218);
}

.prod-info {
    flex: 1;
    text-align: left;
    font-size: 16px;
}

.prod-info p {
    color: gray;
    font-size: smaller;
}

.add-prod {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-prod {
    background-color: rgb(235, 234, 234);
    padding: 7px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    width: 100%; 
}

.search-prod input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 12px;
    margin-right: 8px; 
    outline: none; 
}

.search-prod input::placeholder {
    font-size: 12px;
    color: rgba(158, 152, 152, 0.925);
}

.search-prod i {
    color: rgba(158, 152, 152, 0.925);
    font-size: 12px; 
    cursor: pointer;
    margin-right: 1px;
}

.dropdown select {
    border: 1px solid rgb(183, 182, 182);
    color: rgba(158, 152, 152, 0.925);
    padding: 5.5px;
    border-radius: 4px;
    font-size: 12px;
}

.prod-cards{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 4px;
    gap: 10px;
}

.side-arrow{
    width: 30px;
    cursor: pointer;
}

.product-card2{
    display: flex;
    flex-direction: column;
    width: 260px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 375px;
    gap: 5px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.product-img{
    height: 100px;
    padding-left:30px;
}

.image-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.section-2 {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
}

.availability-btn {
    padding: 4px 8px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.product-name {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: larger;
}

.product-id {
    color: #666;
}

.section-3 {
    padding: 12px 6px;
    display: flex;
    flex-direction: column;
}

.section-3 span{
    font-size: 14px;
}

.rating-reviews, .details-code, .random-text {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.rating {
    font-weight: bold;
    color: #f1c40f;
}

.reviews, .code, .right-text {
    color: #9d9d9d;
    margin-bottom: 18px;
}

/* Main Container */
.container {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}


.info-section {
    display: flex;
    justify-content: space-between;  
    padding-bottom: 10px; 
    border-bottom: 2px solid #ddd;   
}

.info-text h3 {
    color: black;
    font-weight: 700;
}

.info-text p {
    color: #7f8c8d;
    font-size: smaller;
}


.mini-navbar ul {
    list-style-type: none;
    display: flex;       
    font-size: 12px;
     }

.mini-navbar ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 8px;
    background-color: #7b7b7b;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s;
    border-radius: 2px;
    margin-right: 4px;
}

.mini-navbar ul li a:hover {
    background-color: #fff;
    color: #7b7b7b;
}

.table-section {
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}

.styled-table thead tr {
    background-color: #7b7b7b;
    color: #ffffff;
    text-align: left;
    font-weight: 200;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    color: gray;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

.status-btn.active {
    background-color: #2ecc71;
    color: white;
}

.status-btn.pending {
    background-color: #e74c3c;
    color: white;
}

.hamburger-icon, .dropdown-trigger, .add-new-data, .dropdown-list{
    display: none;
}

@media only screen and (max-width: 768px) {

    .hamburger-icon{
        display: inline-block;
    }
    .navbar {
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    #search {
        width: 40%; 
        margin-left: 10px;
        margin-bottom: 0;
        position: relative;
    }
    
    #search input[type="text"] {
        padding-left: 10px;
        width: 70px;
    }
    
    #search::before {
        content: "\f002";
        font-family: FontAwesome;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #ccc;
    }
    #top-second-icons{
        display: none;
    }
    #top-third-icons {
        margin-left: 30px;
        width: 20%;
        border: none;
        padding: 0;
        margin-bottom: 0;
        gap: 10px;
    }

    #window{
        display: none;
    }

    #top-third-icons i{
        margin: 4px;
    }
    
    .profile-picture {
        width: 10%;
        border: none;
        padding: 0;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .profile{
        margin-right: 0;
    }
    
    .nav-items:last-child {
        margin-left: -30px;
    }
    
    .hamburger-icon {
        position: relative;
        top: 2px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .hamburger-icon:hover {
        color: #80878b;
    }
    
    /* Left Sidebar */
    .sidebar {
        top: 50px;
        left: -220px;
        width: 220px;
        height: calc(100vh - 50px);
        transition: left 0.3s;
        z-index: 2;
        opacity: 0.9;
    }

    .sidebar>div{
        margin-bottom: 30px;
    }

    .logo {
        height: 40px;
    }

    .logo-text p{
        text-align: center;
    }

    .logo-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .new-project {
        padding: 5px 20px;
    }
    
    .menuItem, .configItem {
        height: 30px;
        padding: 5px 5px; 
    }
    
    .side-text {
        font-size: 12px;
    }
    
    .sidebar.show {
        left: 0;
    }
    
    /* Right Sidebar */
    .right-sidebar {
        display: none;
    }
    
    /* Middlebar */
    .middlebar {
        left: 0;
        right: 0;
        width: 100%;
    }
    
    .middlebar-items {
        display: flex;
        flex-direction: column;
    }
    
    .stats-card {
        margin-bottom: 10px;
        width: 100%;
    }
    
    .product-card {
        margin-bottom: 10px;
        flex: 1;
    }
    
    .prod-cards {
        flex-direction: column;
    }
    
    .product-card2 {
        margin-bottom: 10px;
        width: 100%;
    }
    
    .container {
        margin-top: 0;
    }
    
    .table-section {
        overflow-x: auto;
    }
    
    .styled-table {
        width: 100%;
    }
    
    .middlebar-items:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .stats-card {
        margin-bottom: 10px;
        width: 100%;
    }

    .graph :first-child i{ 
        display: inline-block;
        padding: 6px 6px 6px 15px;
        margin-right: -3px;
        margin-left: 105px;
    }
    
    
    .stats-card .graph {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .stats-card .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      .stats h2 {
        font-size: 32px; /* Larger title font size */
        margin-bottom: 10px; /* Adjusted margin */
    }

    /* Graph Section - Increase icon and text size */
    .graph {
        font-size: 26px; /* Increase font size for the graph */
        gap: 15px; /* Increased gap between elements */
    }

    .graph .graph:first-child {
        height: 35px; /* Bigger icon size */
        width: 50px; /* Bigger icon size */
    }

    .graph i {
        font-size: 25px; /* Increase icon size */
    }

    .sales, .revenue {
        font-size: 24px; /* Increase font size for sales and revenue text */
    }

    .side-arrow{
        display: none;
    }

    .info-section {
        align-items: center;
        justify-content: space-between;
    }

    .dropdown-trigger {
        display: inline-block;
        position: relative;
        font-size: 24px;
        cursor: pointer;
    }

    .dropdown-list {
        display: none;
        position: absolute;
        top: 87%;
        right: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 6px;
        z-index: 1;
        list-style: none;
        flex: 1;
    }

    .show{
        display: block;
    }

    .dropdown-list li {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 550;
    }

    .dropdown-list li:last-child {
        margin-bottom: 0;
    }

    .dropdown-list a {
        color: #4767e6;
        text-decoration: none;
    }

    .info-text h3, .prod-info h3{
        font-size: 18px;
    }

    .info-text p, .prod-info p{
        font-size: 14px;
    }

    .dropdown{
        display: none;
    }

    .add-prod{
        display: flex;
        justify-content: space-between;
    }

    .search-prod{
        width: 90px;
        margin-right: 0px;
        padding: 5px;
        border-radius: 15px;
    }

    .search-prod input{
        width: 50px;
    }

    .search-prod input::placeholder{
        font-size: 12px;
    }
    .search-icon{
        padding: 1px;
    }

    .icon-background, .add-data{
        display: none;
    }

    .add-new-data{
        background-color: blue;
        color: white;
        border: none;
        padding: 5px 8px;
        border-radius: 4px;
        display: inline-block;
    }

    .prod-info h3{
        margin-bottom: 10px;
    }

}



@media only screen and (max-width: 480px) {
    /* Navbar */
    .nav {
        padding: 10px;
    }
    
    #search {
        padding: 5px;
    }
    
    #top-second-icons, #top-third-icons {
        padding: 5px;
    }
    
    /* Left Sidebar */
    .sidebar {
        width: 150px;
    }
    
    /* Middlebar */
    .middlebar-items {
        padding: 10px;
    }
    
    .stats-card {
        width: 100%;
    }
    
    .product-card {
        width: 100%;
    }
    
    .prod-cards {
        padding: 10px;
    }
    
    .product-card2 {
        width: 100%;
    }
    
    .container {
        padding: 10px;
    }
    
    .table-section {
        padding: 10px;
    }
    
    .styled-table {
        font-size: 14px;
    }

    .mini-navbar{
        display: none;
    }
}

.project-window-hidden, .product-window-hidden, .company-window-hidden, .final-window-hidden {
    display: none;
}

/* Style for the dialog window */
.add-project-window, .add-product-window, .add-company-window, .final-window {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: whitesmoke;
    border-radius: 10px; 
    padding: 40px;
    width: 80%; 
    max-width: 550px;
    height: auto; 
    max-height: 80%; 
    overflow-y: auto; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.add-product-window td, .add-project-window td, .add-company-window td{
    margin-bottom: 20px;
}

.add-company-window button, .add-product-window button, .final-window button{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 16px;
}

.add-company-window img, .add-product-window img, .final-window img{
    height: 25px;
}

.close-window1, .close-window2, .close-window3, .close-window4{
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    cursor: pointer;
}

.close-window1 img, .close-window2 img, .close-window3 img, .close-window4 img{
    height: inherit;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-collapse: collapse;
    width: 100%;
}


.dialog-content label {
    font-weight: bold; 
    margin-right: 10px;
    color: #555; 
    font-size: larger;
}
 
.dialog-content input[type="text"], .dialog-content input[type="number"], .dialog-content textarea, .dialog-content input[type="file"],
.dialog-content select  {
    min-width: 300px;
    padding: 15px;
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
    margin-bottom: 10px;
    background-color: white;
    color: #333;
    box-sizing: border-box;
    font-size: 14px;
}

.dialog-content textarea{
    resize: vertical;
}

.dialog-content input[type="file"]{
    margin-bottom: 10px;
    color: #aaa;
}

.dialog-content input::placeholder, .dialog-content textarea::placeholder {
    color: #aaa;
}

.dialog-content input:focus,
.dialog-content textarea:focus,
.dialog-content select:focus  {
    border-color: #3d3d3d; 
    outline: none; 
}


.dialog-content input[type="submit"], .add-new-prod, .add-new-comp, .final-window .save-project-btn,
.final-window .add-company-btn{
    background-color: #7e91db; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; 
}

.add-new-prod, .add-new-comp, .final-window .save-project-btn,
.final-window .add-company-btn{
    font-size: 13px;
    padding: 8px 12px;
    margin-left: 0;
    margin-bottom: 0px;
}

.dialog-content input[type="submit"]:hover, .final-window .save-project-btn:hover,
.final-window .add-company-btn:hover, #add-product-button:hover {
    background-color: #5973db;
    transform: scale(1.05); 
}

.proj-submit-hidden, .comp-submit-hidden, .final-window-hidden{
    display: none;
}

.final-window .company-dropdown,
.final-window .product-dropdown {
    width: 100%;
    padding: 10px; /* Comfortable padding */
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: #fff; /* White background */
    font-size: 14px;
    max-height: 150px; 
    overflow-y: auto; 
}


@media (max-width: 600px) {
    .add-project-window {
        width: 95%; 
    }
}

.add-company-row{
    margin-top: 10px;
}

.final-window table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.final-window td {
    vertical-align: middle;
    padding: 5px 10px; 
}

.prev-dialog1, .prev-dialog2, .prev-dialog3
{
    top: 10px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.final-window .project-name-label {
    font-weight: bold;
    font-size: 18px;
    color: #a7a7a7;
}

.final-window p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.final-window .company-dropdown,
.final-window .product-dropdown {
    font-size: 13px; /* Slightly smaller font size */
    max-height: 120px; 
}

.final-window .selected-company-name {
    font-size: 16px;
    margin: 10px 0;
    color: #999999;
}

.final-window h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

#add-product-button {
    background-color: #7e91db; 
    color: white;
    padding: 8px 12px;   
    border: none;
    margin-top: 8px;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13px;
}


.final-window .company-dropdown,
.final-window .product-dropdown {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    position: relative; 
    overflow-y: auto; 
    max-height: 150px; 
}

@media (max-width: 600px) {
    .final-window .company-dropdown,
    .final-window .product-dropdown {
        width: 100%;
        font-size: 12px;
        max-height: 120px; 
    }

    .final-window .company-dropdown option,
    .final-window .product-dropdown option {
        font-size: 12px;
    }
}

.side-text:hover {
    color: white;
    cursor: pointer;
}

.search-icon{
    color: gray;
}